body {
    font-family: 'Arial', sans-serif;
}

#presentacion {
    background-color: #242c4f;
    color: #fff;
}

#contactos, #manual, #faq {
    color: #333;
}

#busquedas h2 {
    color: #3e5a7e;
}

#botones {
    background-color: #f2f2f2;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #555;
    color: #fff;
}

.card-body {
    background-color: #fff;
}

.bg-gob {
    background-color: #242c4f !important;
    color: #fff !important;
}

.btn-gob {
    background-color: #242c4f !important;
    color: #fff !important;
}

.bg-gob-overlay {
    background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url("../assets/img/background.jfif");
    background-size: auto;
    background-position: center;
}

.bg-gob-overlay p {
    color: white; /* Color blanco para el texto */
}

.blanco {
    color: white;
}
